@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol li{
    list-style: none;
}

button {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

*{
    box-sizing: border-box;
}

 

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* ------------------------------ End of CSS Reset / レセットの終わり ---------------------------- */ 

body{
    font-family: "Inter", sans-serif;
}

body{
    margin: 5%; 
}

/* Classes, IDs & custom variables / クラスやアイディ*/ 

.display-none{
    display: none;
}
.display-block{
    display: block;
}

.flex-container{
    display: flex;
}

:root{
    --main-bg-color: ;
    --off-white: hsl(36, 100%, 99%);
    --grey-blue: hsl(233, 8%, 79%);
    --dark-grey-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
    --soft-red: hsl(5, 85%, 63%);
    --soft-orange: hsl(35, 77%, 62%);
}

/* Nav styles */ 


/* Creates 3 lines for the hamburger menu toggle */
nav button{
    height: 2em;
    width: 2em;
    margin-bottom: .25em;   
    background-image: url("assets/images/icon-menu.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.close-menu{
    height: 2em;
    width: 2em;
    margin-bottom: .25em;  
    background-image: url("assets/images/icon-menu-close.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.main-image{
    max-height: 80vh;
    max-width: 90vw;
    /* margin-top: 3em; */
}

img[src="assets/images/logo.svg"]{
    max-height: 1.5em;
}
.main-navbar-flex-container{
    display: flex;
    justify-content: space-between;
}

#hamburger-menu {
    position: absolute;
    float: right;
    background-color: white;
    width: 60vw;
    height: 100vh;
    padding: 20% 5% 0 5%;
}

#hamburger-menu li{
    padding: 10% 0%;
}

#hamburger-list-container{
    justify-content: flex-end;
}


/* Main styling */ 
h1{
    font-weight: 800;
}